---
layout: default
---
<div class="post">
  <header class="post-header text-center">
    {% if page.profile %}
      <div class="profile">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true
          %}
        {% endif %}
      </div>
    {% endif %}
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  body {
    font-family: 'Lato', sans-serif, "LXGW WenKai Mono TC", monospace;
  }
  
  .post-header {
    text-align: center;
  }

  .profile {
    display: inline-block;
    margin-bottom: 10px;
  }

  .img-fluid.rounded-circle {
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    object-fit: cover;
  }

  .post-title, .desc {
    margin: 10px;
  }

  .post-title {
    font-size: 2.0em; /* Increased font size */
  }

  .desc {
    font-size: 1.5em; /* Increased font size */
    color: #666;
  }

  .post article {
    text-align: left;
    font-size: 1.1em; /* Increased font size */
    line-height: 1.6;
  }

  h2 {
    font-size: 1.5em; /* Increased font size for headings */
  }
</style>
